# Data Visualization - COVID Dataset Pre-Processing

In [1]:
import numpy as np
import pandas as pd
import sqlite3
import math
from datetime import datetime

In [2]:
# alt.data_transformers.disable_max_rows()

In [3]:
# Read data files
covid_data = pd.read_csv('owid-covid-data.csv')

In [4]:
# covid_data.head(2)
# covid_data.info()

#remove missing total_cases and people_fully_vaccinated_per_hundred by country

covid_total_cases = covid_data[["location", "date" , "total_cases"]].dropna(axis=0)  
covid_total_cases[["total_cases"]] = np.log(covid_total_cases[["total_cases"]])

# print(covid_total_cases.info())

covid_new_cases = covid_data[["location", "date" , "new_cases"]].dropna(axis=0)  
covid_new_cases[["new_cases"]] = np.log(covid_new_cases[["new_cases"]])
# print(covid_new_cases.info())

covid_vaccination = covid_data[["location", "date" , "people_fully_vaccinated_per_hundred"]].dropna(axis=0)  
# print(covid_vaccination.info())

<ipython-input-4-567ebd494391>:12: RuntimeWarning: divide by zero encountered in log
  covid_new_cases[["new_cases"]] = np.log(covid_new_cases[["new_cases"]])
<ipython-input-4-567ebd494391>:12: RuntimeWarning: invalid value encountered in log
  covid_new_cases[["new_cases"]] = np.log(covid_new_cases[["new_cases"]])

In [5]:
covid_vaccination[covid_vaccination["location"]=="China"].groupby(["date"]).agg({"people_fully_vaccinated_per_hundred":["min","max"]})

           people_fully_vaccinated_per_hundred
                                           min    max
date
2021-06-10                               15.51  15.51

In [6]:
selected_locations1 = ["China", "Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States", "Australia"]

covid_total_cases = covid_total_cases[covid_total_cases["location"].isin(selected_locations1)]
covid_total_cases.groupby(["location"]).agg({"date":["min", "max"]})
# covid_new_cases[covid_new_cases["location"].isin(selected_locations1)].groupby(["location"]).agg({"date":["min", "max"]})

                      date
                       min         max
location
Australia       2020-01-26  2021-07-11
Canada          2020-01-26  2021-07-11
China           2020-01-22  2021-07-11
Italy           2020-01-31  2021-07-11
Japan           2020-01-22  2021-07-11
Singapore       2020-01-23  2021-07-11
United Kingdom  2020-01-31  2021-07-11
United States   2020-01-22  2021-07-11

In [7]:
selected_locations1 = ["China", "Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States", "Australia"]
# selected_locations2 = ["Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States"]

covid_vaccination = covid_vaccination[covid_vaccination["location"].isin(selected_locations1)]
covid_vaccination.groupby(["location"]).agg({"date":["min", "max"]})

                      date
                       min         max
location
Canada          2021-01-06  2021-07-11
Italy           2021-01-04  2021-07-11
Japan           2021-03-10  2021-07-11
Singapore       2021-01-27  2021-07-09
United Kingdom  2021-01-10  2021-07-10
United States   2021-01-14  2021-07-11

In [8]:
# Create database for exercise with tables
conn = sqlite3.connect('covid.db')
curr = conn.cursor()
# Create tables
curr.execute('''CREATE TABLE IF NOT EXISTS covid_total_cases
               (location text, date datetime, total_cases float)''')

curr.execute('''CREATE TABLE IF NOT EXISTS covid_new_cases
               (location text, date datetime, new_cases float )''')

curr.execute('''CREATE TABLE IF NOT EXISTS covid_vaccination
               (location text, date datetime, people_fully_vaccinated_per_hundred float)''')


# Load data into tables
covid_total_cases.to_sql('covid_total_cases', conn, if_exists='replace', index = False)
covid_new_cases.to_sql('covid_new_cases', conn, if_exists='replace', index = False)
covid_vaccination.to_sql('covid_vaccination', conn, if_exists='replace', index = False)

In [9]:
# conn.close()

## Graph 1
### 1a: Calculate total cases by month for each location

In [10]:
# selected_locations1 = ["China", "Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States", "Australia"]

query1 =\
"""
SELECT 
    SUBSTR(CAST(date as char(10)), 1, 7) AS month,
    SUM(CASE WHEN location="China" then total_cases else 0 end) AS China,
    SUM(CASE WHEN location="Japan" then total_cases else 0 end) AS Japan,
    SUM(CASE WHEN location="Singapore" then total_cases else 0 end) AS Singapore,
    SUM(CASE WHEN location="Italy" then total_cases else 0 end) AS Italy,
    SUM(CASE WHEN location="United Kingdom" then total_cases else 0 end) AS United_Kingdom,
    SUM(CASE WHEN location="Canada" then total_cases else 0 end) AS Canada,
    SUM(CASE WHEN location="United States" then total_cases else 0 end) AS United_States,
    SUM(CASE WHEN location="Australia" then total_cases else 0 end) AS Australia
    
FROM covid_total_cases t 
GROUP BY 1
"""

data_total_cases = pd.read_sql_query(query1, conn)
# data_total_cases.to_json('clean_data_total_cases.json')

In [11]:

covid_total_cases.to_csv('clean_data_total_cases.csv', index=False)
covid_vaccination.to_csv('clean_data_full_vaccination.csv', index=False)

### 1b:  1a: Calculate new cases by month for each location

In [12]:
# selected_locations1 = ["China", "Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States", "Australia"]

query2 = \
"""
SELECT 
    SUBSTR(CAST(date as char(10)), 1, 7) AS month,
    SUM(CASE WHEN location="China" then new_cases else 0 end) AS China,
    SUM(CASE WHEN location="Japan" then new_cases else 0 end) AS Japan,
    SUM(CASE WHEN location="Singapore" then new_cases else 0 end) AS Singapore,
    SUM(CASE WHEN location="Italy" then new_cases else 0 end) AS Italy,
    SUM(CASE WHEN location="United Kingdom" then new_cases else 0 end) AS United_Kingdom,
    SUM(CASE WHEN location="Canada" then new_cases else 0 end) AS Canada,
    SUM(CASE WHEN location="United States" then new_cases else 0 end) AS United_States,
    SUM(CASE WHEN location="Australia" then new_cases else 0 end) AS Australia
    
FROM covid_new_cases n
GROUP BY 1
"""

pd.read_sql_query(query2, conn)

,month,China,Japan,Singapore,Italy,United_Kingdom,Canada,United_States,Australia
0,2020-01,58.798154,-inf,-inf,0.693147,0.693147,-inf,-inf,-inf
1,2020-02,206.716454,-inf,-inf,-inf,-inf,-inf,-inf,-inf
2,2020-03,119.013380,121.397698,-inf,242.792170,193.140293,126.286795,214.961118,-inf
3,2020-04,98.700247,177.875214,175.031274,242.024890,253.157899,218.558892,308.733431,111.135433
4,2020-05,-inf,126.637524,197.312130,206.913093,240.925653,219.514271,311.210414,-inf
5,2020-06,-inf,121.084500,168.478960,159.896747,203.369792,181.747180,305.875403,80.212505
6,2020-07,-inf,190.079452,170.789901,166.681521,193.919041,182.682812,341.861331,172.941095
7,2020-08,93.133888,213.691822,144.602918,197.362340,215.538721,182.592747,333.116650,169.085354
8,2020-09,70.878251,185.695138,98.451374,219.410254,245.285822,203.275346,317.675677,104.692137
9,2020-10,87.681055,195.580895,61.552728,280.760658,302.414567,238.654854,341.217993,83.314093
10,2020-11,82.468014,218.251431,52.141950,309.358450,297.189939,253.459190,356.938076,64.376987
11,2020-12,86.638800,245.098419,71.925843,299.626745,314.377786,271.294558,379.098961,82.311531
12,2021-01,131.827032,262.434592,103.506051,295.977295,328.948760,269.242564,377.224979,73.808914
13,2021-02,66.703821,203.194442,70.256724,264.949034,263.728512,224.898077,317.009663,45.270146
14,2021-03,69.025440,221.622287,80.265034,308.350251,266.748760,254.106272,339.719831,72.199671
15,2021-04,79.308744,246.680325,94.964025,286.638483,228.004588,268.758430,330.675923,79.387027
16,2021-05,80.590633,262.493409,103.074379,267.753517,233.349445,262.312874,315.784552,66.871850
17,2021-06,92.118169,222.950119,83.198875,212.963213,273.749442,207.343241,281.642892,79.723338
18,2021-07,-inf,82.711130,25.247792,75.833361,113.044161,64.928206,103.842651,42.205089

### 1c:  1a: Calculate average number of people fully vaccinated per hundred by month for each location

In [13]:
# selected_locations2 = ["Singapore", "Italy", "United Kingdom", "Japan", "Canada", "United States"]

query2b = \
"""
SELECT 
    SUBSTR(CAST(date as char(10)), 1, 7) AS month,
    MAX(CASE WHEN location="Japan" then people_fully_vaccinated_per_hundred else 0 end) AS Japan,
    MAX(CASE WHEN location="Singapore" then people_fully_vaccinated_per_hundred else 0 end) AS Singapore,
    MAX(CASE WHEN location="Italy" then people_fully_vaccinated_per_hundred else 0 end) AS Italy,
    MAX(CASE WHEN location="United Kingdom" then people_fully_vaccinated_per_hundred else 0 end) AS United_Kingdom,
    MAX(CASE WHEN location="Canada" then people_fully_vaccinated_per_hundred else 0 end) AS Canada,
    MAX(CASE WHEN location="United States" then people_fully_vaccinated_per_hundred else 0 end) AS United_States
    
FROM covid_vaccination v
GROUP BY 1

"""
data_vaccination = pd.read_sql_query(query2b, conn)
# data_vaccination.to_json('clean_data_full_vaccination.json')